.black-background {
  background-color: black;
  color: white;
}

.highlight-text {
  background-color: #fff2ac;
  background-image: linear-gradient(to right, #ffe359 0%, #fff2ac 100%);
  cursor: pointer;
}
